<ion-header>

  <ion-toolbar>

    <ion-title>Minha Ficha de Treino</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button autoHide="false">

        <ion-icon name="log-out" (click)="sair()" [routerLink]="tabs"></ion-icon>

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="!treinos.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-icon name="clipboard"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-list>

    <ion-card *ngFor="let treino of treinos">


      <ion-card-header>
          <ion-card-title>{{ treino.nomeTreino }}</ion-card-title>
          <ion-card-subtitle>{{ treino.dia }}</ion-card-subtitle>
      </ion-card-header>

        <ion-card-content>
          <h6>Exercícios:</h6>
          <!--
          <ul *ngFor="let i of treino.exercicios">
            <li>
              <p>{[ i ]}</p>
            </li>
          </ul>
-->
        </ion-card-content>

        <ion-item>
            <ion-icon button name="trash" (click)="removeTreino(treino.id)" slot="start"></ion-icon> 
            <ion-button fill="outline" slot="end" [routerLink]="['treino-detalhe/', treino.id]">Detalhes</ion-button>
        </ion-item>

      
    </ion-card>

  </ion-list>






  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pageaddtreino()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>