<ion-header>
  <ion-toolbar>
    <ion-title>Minha Ficha de Treino</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!--Exemplo de card de treinos -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Segunda-Feira</ion-card-subtitle>
      <ion-card-title>Costas e Bíceps</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>header</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
      </ion-row>

      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>row</ion-label>
        </ion-col>
      </ion-row>

      <ion-item>
          <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>

    </ion-card-content>

  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pageaddtreino()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>