<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Treinos Realizados
    </ion-title>
    <ion-icon slot="end" name="funnel"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class=circulo (click)="novoRegistroTreino()">
    <img src="/assets/img/halter.png">
  </div>

  <div class="conclusao-semanal">
    <h5 class="ion-text-center">Conclusão Semanal</h5>
    <ion-row>
      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Domingo
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Segunda
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Terça
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Quarta
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Quinta
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Sexta
          </div>
        </ion-label>
      </ion-col>

      <ion-col>
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>
          <div class="dia">
            Sábado
          </div>
        </ion-label>
      </ion-col>

    </ion-row>
  </div>

  <div class=gamificacao>
    <h5 class="ion-text-center">
      Estatísticas
    </h5>

    <ion-list>

      <ion-item>
        Nível:
      </ion-item>

      <ion-item>
        Pontuação:
      </ion-item>

      <ion-item>
        Ofensiva:
      </ion-item>

      <ion-item>
        Dias de descanso:
      </ion-item>
      <ion-item>
        Total de dias de treino:
      </ion-item>
    </ion-list>
  </div>

  <div class="dica">
    <h5 class="ion-text-center">Dica</h5>
    <p class="text-info recuo">
      O trabalho e a dedicação são a única estrada que leva ao verdadeiro sucesso.
    </p>
  </div>

</ion-content>