<ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explorer">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conta">
      <ion-icon name="send"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-content>
